#services {
    padding: 6rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    column-gap: 1rem;
}

.service-item {
    width: 100%;
    min-height: 26rem;
    border-radius: .5rem;
    color: var(--color-white);
    background-color: var(--color-bg-variant);
    border: 1px solid var(--color-bg);
    border-top: 0;
}

.service-title {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: center;
    background-color: var(--color-dark);
    padding: 2rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.service-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-white);
    font-size: 1rem;
    padding: 1rem 2rem;
}

.service-item-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.service-item-item svg {
    width: .8rem;
    height: .8rem;
    margin-right: .8rem;
}

/* ================== MEDIA QUERY =================== */

@media screen and (max-width: 1024px) {
    #services {
        padding: 1rem 0;
        margin-top: 5rem;
    }
    .container {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .service-item {
        width: 48%;
        min-height: 23rem;
    }
}

@media screen and (max-width: 768px) {
    .service-item {
        width: 100%;
        min-height: 23rem;
    }
}