.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 2rem 0;
}

.header-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.header-title h1 {
    font-size: 2.5rem;
    color: var(--color-white);
    margin: 0.4rem 0;
}

.header-title h5 {
    font-size: 1.3rem;
    color: var(--color-white);
}

.header-title small {
    font-size: 0.9rem;
    color: var(--color-light);
}

.header-buttons {
    display: flex;
    column-gap: 1rem;
}

.header-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    position: absolute;
    flex-direction: column;
    bottom: 5%;
    left: 0%;
}

.header-socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
    transition: 0.4s all ease;
}

.scroll-down {
    position: absolute;
    bottom: 9%;
    right: 0%;
    color: var(--color-primary);
    transform: rotate(90deg) !important;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.2rem;
    animation: scroll-down .7s ease-in-out infinite;
}

.scroll-down svg {
    transform: rotate(270deg);
}

.image-area {
    background-image: linear-gradient(to bottom, var(--color-primary), var(--color-bg-variant));
    padding: 1rem;
    border-radius: 100% 100% 0px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-area img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

/* ================== KEYFRAMES =================== */

@keyframes scroll-down {
    0% {
        transform: translateY(0) rotate(90deg);
    }

    50% {
        transform: translateY(0.5rem) rotate(90deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

/* ================== MEDIA QUERY =================== */

@media screen and (max-width: 992px) {
    .header {
        padding: 2rem 0;
    }

    .header-header {
        gap: 1rem;
    }

    .header-title h1 {
        font-size: 2rem;
    }

    .header-title h5 {
        font-size: 1rem;
    }

    .header-title small {
        font-size: 0.8rem;
    }

    .header-buttons {
        column-gap: 0.5rem;
    }

    .header-socials {
        bottom: 5%;
        left: 0%;
    }

    .header-socials::after {
        height: 1rem;
    }

    .scroll-down {
        bottom: 5%;
        right: 0%;
    }

    .image-area {
        padding: 1rem 2rem 1rem 2rem;
    }

    .image-area img {
        width: 15rem;
        height: 15rem;
    }
    

}

@media screen and (max-width: 768px) {
    .header {
        padding: 2rem 0;
    }

    .header-header {
        gap: 1rem;
    }

    .header-title h1 {
        font-size: 2rem;
    }

    .header-title h5 {
        font-size: 1rem;
    }

    .header-title small {
        font-size: 0.8rem;
    }

    .header-buttons {
        column-gap: 0.5rem;
    }

    .header-socials {
        bottom: 5%;
        left: 0%;
    }

    .header-socials::after {
        height: 1rem;
    }

    .scroll-down {
        bottom: 10%;
        right: -6%;
    }

    .image-area {
        padding: 1rem 2rem 1rem 2rem;
    }

    .image-area img {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding: 2rem 0;
        justify-content: center;
        row-gap: 1.4rem;
    }

    .header-header {
        gap: 1rem;
        height: max-content;
    }

    .header-title h1 {
        font-size: 2rem;
    }

    .header-title h5 {
        font-size: 1rem;
    }

    .header-title small {
        font-size: 0.8rem;
    }

    .header-buttons {
        column-gap: 0.5rem;
    }

    .header-socials {
        bottom: 15%;
        left: 0%;
    }

    .header-socials::after {
        height: 1rem;
    }

    .scroll-down {
        bottom: 20%;
        right: -8%;
    }

    .image-area {
        padding: 1rem 2rem 1rem 2rem;
    }

    .image-area img {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 375px) {
    .header {
        padding: 1rem 0;
        justify-content: center;
        row-gap: 4.5rem;
    }

    .header-header {
        gap: .8rem;
        height: max-content;
    }

    .header-title h1 {
        font-size: 1.2rem;
    }

    .header-title h5 {
        font-size: 1rem;
    }

    .header-title small {
        font-size: 0.8rem;
    }

    .header-buttons {
        column-gap: 0.5rem;
    }

    .header-socials {
        bottom: 15%;
        left: 0%;
    }

    .header-socials::after {
        height: 1rem;
    }

    .scroll-down {
        bottom: 20%;
        right: -10%;
    }

    .image-area {
        padding: .1rem .2rem .1rem .2rem;
    }

    .image-area img {
        width: 10rem;
        height: 10rem;
    }
}