.navbar {
    background-color: rgba(0, 0, 0, 0.75);
    width: max-content;
    border-radius: 1.4rem;
    padding: 0.7rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin: 0 1rem;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;

    border-radius: 100%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li a.active {
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.navbar ul li a.active::after {
    content: '';
    position: absolute;
    width: .6rem;
    height: 1px;
    background-color: #fff;
    bottom: -2px;
}

/* ================== MEDIA QUERY =================== */

@media screen and (max-width: 1024px) {
    .navbar ul li a {
        font-size: 1.4rem;
        padding: 0.7rem;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        width: 50% !important;
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateX(0);
        z-index: 99;
    }

    .navbar ul li a {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
    }

    .navbar ul li a {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        width: 100% !important;
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateX(0);
        z-index: 99;
    }

    .navbar ul li a {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        width: 80% !important;
        position: fixed;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
    }

    .navbar ul li a {
        font-size: 1rem;
        padding: 0.5rem;
    }
}