#portfolio {
    padding: 4rem 0;
}

.works-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-top: 2rem;
}

.work-item {
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem 1.2rem 2rem 1.2rem;
    width: calc(33.3333% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
    cursor: pointer;
    transition: 0.4s all ease;
    height: 26rem;
    text-align: center;
}

.work-item:hover {
    background-color: var(--color-dark);
}

.work-img {
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
}

.work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1.4rem;
}

.work-info h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-white);
}

.work-info p a {
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.4rem;
}

/* ================== MEDIA QUERY =================== */

@media screen and (max-width: 1024px) {
    #portfolio {
        padding: 2rem 0;
    }

    .work-item {
        width: calc(50% - 1rem);
    }

    .work-info h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    #portfolio {
        padding: 2rem 0;
    }

    .work-item {
        width: calc(100% - 1rem);
    }

    .work-info h3 {
        font-size: .9rem;
    }
}

@media screen and (max-width: 576px) {
    #portfolio {
        padding: 1rem 0;
    }

    .work-item {
        height: max-content;
    }

    .work-info h3 {
        font-size: .8rem;
    }
}