#experience {
    padding: 4rem 0;
}

.experience-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    column-gap: 1rem;
}

.experience-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    background-color: var(--color-bg-variant);
    border-radius: 1rem;
    row-gap: 2rem;
    transition: 0.4s all ease;
    cursor: pointer;
}

.experience-item:hover {
    background-color: var(--color-bg);
}

.experience-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-primary);
}

.experience-item-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    padding: 1rem 0;
    row-gap: 3rem;
}

/* ================== MEDIA QUERY =================== */
@media screen and (max-width: 1440px) {
    .experience-item {
        width: calc(50% - 1rem);
    }

    .experience-item-container {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        row-gap: .9rem;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {


    .experience-container {
        flex-direction: column;
        row-gap: 1rem;
    }

    .experience-item-container {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        row-gap: .9rem;
    }

    .experience-item {
        width: 100%;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 768px) {
    .experience-item-container {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        row-gap: .9rem;
    }
}

@media screen and (max-width: 576px) {
    .experience-item-container {
        grid-template-columns: repeat(2, minmax(70%, 1fr));
        row-gap: .9rem;
    }
}