@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.8);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --color-dark: rgba(0, 0, 0, .6);
    --color-dark-variant: rgba(0, 0, 0, .3);

    --container-lg-width: 70%;
    --container-md-width: 80%;
    --container-sm-width: 90%;
    --container-xs-width: 95%;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: var(--color-bg);
    overflow-x: hidden !important;
    background-image: url('./assets/bg-texture-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

a {
    color: var(--color-primary);
    font-size: 1.2rem;
    cursor: pointer;
}

a:hover {
    color: var(--color-primary-variant);
}

.app {
    padding-bottom: 4rem;
    width: var(--container-lg-width);
    margin: 0 auto;
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    display: none;
}

/* ================== GENERAL =================== */

.btn-container.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-container.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    padding: 0.9rem 1.4rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s all ease;
    color: var(--color-primary-variant);
}

.btn-sm {
    padding: 0.4rem 1.4rem;
}

.btn-primary {
    background: var(--color-primary-variant);
    color: var(--color-bg);
}

.btn:hover {
    background: var(--color-primary-variant);
    color: var(--color-bg);
}

.title-h5 {
    font-size: 0.7rem;
    color: var(--color-light);

}

.title-h2 {
    font-size: 1.6rem;
    color: var(--color-primary);
}

.feature {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 1rem;
}

.feature svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--color-primary);
}


.feature-inner h2 {
    font-size: 1.1rem;
    color: var(--color-white);
}

.feature-inner p {
    font-size: 0.6rem;
    color: var(--color-light);
}

/* ================== MEDIA QUERY =================== */

@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }

    .app {
        width: var(--container-md-width);
    }
}

@media screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }

    .app {
        width: var(--container-md-width);
    }
}

@media screen and (max-width: 768px) {
    .app {
        width: var(--container-sm-width);
    }
}


@media screen and (max-width: 576px) {
    html {
        font-size: 13x;
    }

    .app {
        width: var(--container-xs-width);
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }

    .app {
        width: var(--container-xs-width);
    }
}

/* ================== MEDIA QUERY =================== */

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}